<table class="table">
  <tr>
    <th>
      <h3>User info</h3>
    </th>
  </tr>
  <tr>
    <td>
      <%= image_tag user.get_profile_image(100,100) %>
    </td>
  </tr>
  <tr>
    <td>
      <div>
        <h6>name</h6>
      </div>
    </td>
    <td>
      <div>
        <h6><%= user.name %></h6>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div>
        <h6>introduction</h6>
      </div>
    </td>
    <td>
      <div>
        <h6><%= user.introduction %></h6>
      </div>
    </td>
  </tr>

<br>

</table>

 <%= link_to  edit_user_path(user.id), class: "btn btn-outline-secondary", style: "width: 185px;" do %>
 <i class="fa-solid fa-user-gear"></i>
<% end %>