
<div class="container">
  <div class="row">
    <div class="offset-md-3"></div>
    <div class="col-md-6">
      <tr>
        <th>
          <h1>Welcome <i class="fa-solid fa-book"></i>toBookers!</h1>
        </th>
      </tr>
    </div>
    <div class="offset-md-3"></div>
  </div>
</div>
